<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @assessment.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @assessment.answer %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
